/* dimmer slider */

li.sortable.wink-lightbulb-device.no-header{
  min-height: 30px;
}

ul.items .wink-lightbulb-device div.item-inner .ui-slider-track {
  margin-left: 22px;
  margin-right: 8px;
}

ul.items .wink-lightbulb-device .ui-slider {
  margin: 8px 4px 2px 0;
}

@media (min-width:35em) {
  ul.items .wink-lightbulb-device .ui-slider {
    margin: 1px 4px -1px 5px;
    float: right;
    width: 20em;
  }
  ul.items .wink-lightbulb-device label {
    float: left;
  }
}


